
h1 {
  color: black;
  background-color: rgb(203, 78, 67)
}


 div {
    color: black;
    background-color: rgb(184, 94, 42);
    font-size: 100px;
    text-align: center;
    font-weight: bold;
  
  }
p {
  color: rgb(33, 85, 38);
  font-size: 60px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    color: red;
    

}
li {
  font-size: 50px;
}